/*general*/
.container{
    width: 55%;
    margin: 0 auto;
}

/*logo e sfondo*/
.background-logo{
    width: auto;
    height: 80px;
    background-color: royalblue;
    background-image: url(../img/pattern.png);
    background-size:30%;
    background-position:lef top;
    background-repeat: repeat;
}

.logo-space{
    height: 80px;
}

.logo{
    height: 45%;
    margin-top: 40px;
}

/*titolo*/
.titolo-articolo{
    font-size: 35px;
    margin-bottom: 0;
}

.note-titolo{
    color: rgb(163, 163, 163);
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0;
}

.autore{
    color: royalblue;
}

.data{
    color: rgb(163, 163, 163);
    font-size: 12;
    margin-top: 0%;
}
